選擇儲存評價：
<select id="storedComments" onchange="itemSelected();">
  <option value="-1">---</option>
  <option value="0">送貨快速</option>
  <option value="1">貨品良好</option>
  <option value="2">服務友善</option>
</select>
<br/>
<textarea id="comment" rows="4" cols="50"></textarea>
<script>
function itemSelected(){
  let storedComments=document.getElementById("storedComments");
  let comment=document.getElementById("comment");
  let table = [
    "送貨快速",
    "貨品良好",
    "服務友善"
  ]
  if(storedComments.value==-1){
    comment.value="";
  } else {
    comment.value += " " + table[storedComments.value];
  }
}
</script>
